<!DOCTYPE html>
<html lang="en">
<head>
  <title>MoonBlog</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => false %>

  <style type="text/css" media="screen">
    body {
      background-color: transparent;
      padding:0;
      margin:0;
    }
    body .container {
      padding:0;
      margin:0;

      max-width: 100%;
      overflow-x: hidden;
    }
  </style>

  <style type="text/css" media="screen">
    <%= sanitize_css(@setting.custom_css) if @setting %>
  </style>

  <link href='http://fonts.googleapis.com/css?family=Fanwood+Text:400,400italic' rel='stylesheet' type='text/css'>

  <link rel="stylesheet" href="http://yandex.st/highlightjs/7.3/styles/xcode.min.css">
  <script src="http://yandex.st/highlightjs/7.3/highlight.min.js"></script>
</head>
<body>

<div class="container">
  <div class="row">
    <div class="col-12">
      <% if @blog %>
        <h3 class="page-header">
          <%= @blog.name || "Blog" %>
        </h3>

        <%= yield %>
      <% else %>
        <p>No blog found here...</p>
      <% end %>
    </div>
  </div>
</div>

<script>
  (function(){
    // trigger load event for parent of iframe
    parent.$('body').trigger('moonblog:load');

    // also trigger when everything is loaded, again
    window.onload = function() {
      parent.$('body').trigger('moonblog:load');
    }
  })(window,document,$);

  jQuery(document).on("ready page:change", function() {
    $('pre code').each(function(i, e) {hljs.highlightBlock(e)});
  });
</script>

</body>
</html>
